@import "../responsive-breakpoint.scss";
@import "../mixin.scss";
.stylish {
	background-image: url("../../assets/bg2.png");height: 300px;
    color: white;

	background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-size: cover;
	h1 {
        @include small-down{
            font-size: 20px;
        }
        font-weight: 500;
        @include dashses;
        &::after{
            border: 1px solid white;
        }
        margin-bottom: 1rem
	}
	p {
        color: var(--desc-color);
        margin-bottom: 2rem
	}
	.btn {
		button {
			@include btn;
		}
	}
}
